/**
* @name Novum
* @author Tomec & Saurian
* @description Red galaxy theme enhanced with couple of addons and small features.
* @version 5.6.1
* @source https://github.com/przemec/Novum
* @website https://przemec.github.io/Novum/
*/

/*
CONTACT ME ON DISCORD IF YOU NEED ANY HELP WITH THEME (OR IF YOU SEE SOME GRAY/NOT-THEMED ELEMENTS): tomec#4771

IMPORTANT: CHOOSE DARK THEME VERSION IN DISCORD APPEARANCE SETTINGS!
IMPORTANT: SOME OF FEATURES ARE TESTED ONLY ON WINDOWS VERSION OF DISCORD!
*/

/*
===================================================================
*/

@import url(https://przemec.github.io/Novum/theme.css);

/*
===================================================================
*/

/*
CUSTOMIZABLE BACKGROUND IMAGE AND MAIN COLORS BELOW*

*IF YOU WANT TO CUSTOMIZE THOSE COLORS, CHANGE root TO :root 
*/

root {
  --app-background: url("https://images8.alphacoders.com/129/1293442.jpg"); /* main app background image [default: url("https://images8.alphacoders.com/129/1293442.jpg")] */
  --main-color:  #5b2799; /* main color (used mostly in buttons) [default:  #5b2799] */
  --main-color-selected:  #672faa; /* [default:  #672faa] */
  --main-color-semitransparent:  #7b39d4; /* [default:  #7b39d4] */
  --main-color-semitransparent-selected:   #8c36d3; /* [default:  #8c36d3] */
  --accent-color:  #cb9ffd; /* accent color (used in links, mentions etc.) [default:  #cb9ffd] */
  --accent-color-semitransparent:  #d5a7fc; /* [default:  #d5a7fc] */
  --accent-saturated:  #cb7afd; /* [default:  #cb7afd] */
  --accent-desaturated:  #a37ab4; /* [default:  #a37ab4] */
  --button-text: #dddddd; /* [default: #dddddd] */
  --button-text-selected: #ffffff; /* [default: #ffffff] */
  --profile-background: url("https://images8.alphacoders.com/129/1293442.jpg"); /* background of profile popout [default: url("https://images8.alphacoders.com/129/1293442.jpg")] */
  --profile-activity:  #4e156d; /* color of activity field in profile left-click popout [default:  #4e156d] */
  --scroll-thumb-color:  #804ba5; /* color of scrollbars [default:  #804ba5] */
}

/*
===================================================================
*/

/*
Credits:
- Original (not edited) background is taken (with the consent of author) and edited from 'Nova' theme made by https://github.com/din0s/
- The idea of icons in Settings sidebar is taken from ClearVision theme originally designed by https://github.com/Zerthox
- Most of custom icons come from Material Design Icons project: https://materialdesignicons.com/
- The idea of animated activity in profile popout is taken from Comfy theme: https://github.com/NYRI4/Comfy

Author of theme: https://github.com/tomec

Special thanks for help to: https://github.com/net-runner
*/
